<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/mainHtmlTag"></head>

<body style="background: #222;">
<nav th:replace="fragments/navbar :: #navigation-bar"></nav>

    <table class="table table-striped table-dark">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Artist</th>
            <th scope="col">Born</th>
            <th scope="col">Nationality</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="artist : ${artists}">
            <th scope="row" th:text="${artistStat.count}">1</th>
            <th><a th:text="${artist.name}" th:href="@{/people/artists/{id}(id=${artist.id})}">Name</a></th>
            <th th:text="${artist.bornYear}">Born</th>
            <th th:text="${artist.nationality}">Nationality</th>
        </tr>
        </tbody>
    </table>

<script th:replace="fragments/jqueryImport"></script>
<script th:replace="fragments/bootstrapMinImport"></script>
</body>
</html>