<img src="https://picsum.photos/1280" alt="picsum image">
<div class="card-body">
    <div class="d-flex justify-content-start align-items-start p-2">
        <a class="artwork-name" th:href="@{/artworks/architectures/{id}(id=${architecture.id})}">
            <h4 class="card-title" th:text="${architecture?.name}">Name</h4>
        </a>
        <span class="by"> by </span>
        <p class="card-text artwork-artist" th:if="${architecture.architect}">
            <a th:href="@{/people/architects/{id}(id=${architecture.architect.id})}"
               th:text="${architecture.architect?.name}"></a>
        </p>
        <p class="card-text artwork-artist" th:unless="${architecture.architect}">Unknown Artist</p>
    </div>
    <h4 class="card-text d-flex justify-content-end" th:text="${architecture?.calculateCost()+'$'}">price</h4>
    <p class="card-text d-flex justify-content-end artwork-style"
       th:utext="'<strong>Style: </strong>' + ${architecture?.style?.name}">Style</p>
</div>