<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/mainHtmlTag"></head>

<body class="form-page architecture-form-page">
<nav th:replace="fragments/navbar :: #navigation-bar"></nav>

    <div class="container form-container">
        <h2 class="text-center font-weight-bold mb-3" style="color: rgba(255, 255, 230, 1); letter-spacing: 3px;">
            Update Architecture</h2>
        <form th:action="@{/artworks/architectures/update/{id}(id=${architecture.id})}"
              th:object="${architecture}" method="post"
              class="artwork-form p-5" id="update-architecture-form" th:insert="artworks/architectures/_form">
        </form>
    </div>

    <footer>
        <p class="col"><strong>Colosseum</strong></p>
    </footer>

<script th:replace="fragments/jqueryImport"></script>
<script th:replace="fragments/bootstrapMinImport"></script>
</body>
</html>