<!--form tag opening-->
<ul th:if="${#fields.hasErrors('*')}">
    <li th:each="error : ${#fields.errors('*')}" th:text="${error}">error</li>
</ul>
<div class="form-group">
    <label for="sculpture-name" class="col-form-label">Name</label>
    <input type="text" id="sculpture-name" class="form-control" th:field="*{name}">
</div>

<div class="form-group">
    <label for="sculpture-style" class="col-form-label">Style</label>
    <select id="sculpture-style" class="form-control" th:field="*{style.id}">
        <option th:each="style : ${styles}" th:value="${style.id}" th:text="${style.name}">Style</option>
    </select>
</div>

<div class="form-group">
    <label for="sculpture-artist" class="col-form-label">Artist</label>
    <select id="sculpture-artist" class="form-control" th:field="*{artist.id}">
        <option th:each="artist : ${artists}" th:value="${artist.id}" th:text="${artist.name}">Style</option>
    </select>
</div>

<div class="form-row">
    <div class="form-group col">
        <label for="sculpture-weight-input">Weight</label>
        <input type="number" step="0.01" min="0" class="form-control" id="sculpture-weight-input"
               th:field="*{weight}">
    </div>
</div>

<div class="form-group">
    <div class="mt-2 container text-center">
        <button
                th:with="text=${sculpture['new']} ? 'Create' : 'Edit'"
                class="btn btn-light btn-lg mt-4" type="submit" th:text="${text}">Add
            Sculpture</button>
    </div>
</div>
<!--form tag closing-->
