<!DOCTYPE html>
<html id="welcome-html" lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head th:replace="fragments/mainHtmlTag"></head>

<body id="welcome-body">
    <nav th:replace="fragments/navbar :: #navigation-bar"></nav>
    <div id="home-bg-img"></div>
<!--    <div class="container-fluid w-100 m-0 p-0" id="art-show-img-div">-->
<!--        <img alt="Art Show Image" th:src="@{/images/art-show.png}" id="art-show-img">-->
<!--    </div>-->
    <div id="welcome-txt" class="">
        <div class="row justify-content-center">
            <h1 class="col-xl-6 col-lg-12 p-lg-2 p-sm-3"><a th:href="@{/people/artists/index}" th:text="ARTISTS"></a></h1>
            <h1 class="col-xl-6 col-lg-12 p-lg-2 p-sm-3"><a th:href="@{/people/architects/index}" th:text="ARCHITECTS"></a></h1>
        </div>
        <p class="display-1">EXPLORE</p>
        <div class="row">
            <h1 class="col-xl-4 col-lg-12 p-lg-2 p-sm-3"><a th:href="@{/artworks/paintings/index}" th:text="PAINTINGS"></a></h1>
            <h1 class="col-xl-4 col-lg-12 p-lg-2 p-sm-3"><a th:href="@{/artworks/paintings/index}" th:text="ARCHITECTURES"></a></h1>
            <h1 class="col-xl-4 col-lg-12 p-lg-2 p-sm-3"><a th:href="@{/artworks/sculptures/index}" th:text="SCULPTURES"></a></h1>
        </div>
    </div>

<script th:replace="fragments/jqueryImport"></script>
<script th:replace="fragments/bootstrapMinImport"></script>
<script type="text/javascript" th:src="@{js/welcome.js}"></script>
</body>
</html>