<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/mainHtmlTag"></head>

<body class="dark-bg">
<nav th:replace="fragments/navbar :: #navigation-bar"></nav>

    <table class="table table-striped table-dark">
        <thead>
        <tr class="text-center">
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Artist</th>
            <th scope="col">Style</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="painting : ${paintings}" class="text-center">
            <th scope="row" th:text="${paintingStat.count}">1</th>
            <th><a th:text="${painting.name}" th:href="@{/artworks/paintings/{id}(id=${painting.id})}">Name</a></th>
            <th><a th:text="${painting.artist?.name}" th:href="@{/people/artists/{id}(id=${painting.artist?.id})}"></a></th>
            <th scope="row" th:text="${painting.style?.name}"></th>
        </tr>
        </tbody>
    </table>

    <div class="container text-center mt-3 btn-container">
        <a class="text-white" th:href="@{/artworks/paintings/new}">
            <button class="btn btn-primary">New Painting</button>
        </a>
    </div>

<script th:replace="fragments/jqueryImport"></script>
<script th:replace="fragments/bootstrapMinImport"></script>
</body>
</html>