<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/mainHtmlTag"></head>

<body>
    <nav th:replace="fragments/navbar :: #navigation-bar"></nav>

    <div class="container-fluid mt-3 artwork-container">
        <div class="row">
            <div class="col-6 card painting" th:each="painting : ${paintings}" th:insert="artworks/paintings/_painting">
            </div>
        </div>
    </div>

<script th:replace="fragments/jqueryInport"></script>
<script th:replace="fragments/bootstrapMinInport"></script>
</body>
</html>